<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyMMdd HHmmss} %5p %20.20c{1}.%-15.15M:%4L - %m%n"/>
        </layout>
    </appender>

    <logger name="twitter4j.internal.http.HttpResponseImpl">
        <level value="info"/>
    </logger>
    <logger name="twitter4j.internal.http.HttpClientImpl">
        <level value="info"/>
    </logger>
    <logger name="twitter4j.auth.OAuthAuthorization">
        <level value="info"/>
    </logger>
    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>
